.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties

Thumbs.db

.DS_Store

.classpath
.project

.idea
.gradle
build/
gradle-app.setting
